<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees list</title>
</head>
<body>
    <a href="{{ controller_root }}/create">Create</a>
    {% for employee in employees %}
        <h3>name: {{employee.name}} <a href="{{controller_root}}/{{employee.id}}/delete">Delete</a></h3><hr>
    {% endfor %}
    <hr>
    <a href="/">Return to Home</a>
</body>
</html>